* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

img {
  width: 450px;
  height: 200px;
}

.content-image {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 25px;
}

.header, .footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
}

.title, .logo {
  font-weight: bolder;
  color: #F9FAF8;
}

.title {
  font-size: 48px;
}

.logo {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

button, .call-to-action {
  background-color: #3882f6;
  color: #F9FAF8;
}

.content-title {
  font-size: 36px;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  color: #1F2937;
  font-weight: lighter;
  font-style: italic;
  display: flex;
  padding: 120px;
  justify-content: center;
}

.quote-inside {
  display: flex;
  flex-direction: column;
}

.quoter {
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  align-self: flex-end;
}

.cta-right > button {
  border: 2px solid #F9FAF8;
  border-radius: 10px;
}

button {
  border: none;
  font: inherit;
  color: #E5E7EB;
  padding: 10px 25px;
  border-radius: 10px;
}

ul {
  list-style: none;
  gap: 25px;
}

.nav, .header-links > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
}

.nav {
  margin-bottom: 120px;
}

.header {
  padding: 20px 90px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-text {
  max-width: 450px;
  padding-bottom: 100px;
}

.header-text > button {
  margin-top: 20px;
}

.content {
  text-align: center;
  padding: 42px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.card {
  padding-top: 42px;
  max-width: 150px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.call-to-action {
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  border-radius: 15px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}


.inside-header {
  max-width: 1000px;
  margin: auto;
}

.quote-text {
  max-width: 40ch;
  align-self: center;
}